[submodule "zap"]
	path = zap
	url = https://gist.github.com/tonejito/c16666facf5da68584d6
[submodule "ssh-key-gen-print"]
	path = ssh-key-gen-print
	url = https://gist.github.com/tonejito/9ae6fc6265a94c41d8bfa1e6e89b3e98
[submodule "get-users"]
	path = get-users
	url = https://gist.github.com/tonejito/369ac4cb3759bf0b3471be7034a74e99
[submodule "useradd-batch"]
	path = useradd-batch
	url = https://gist.github.com/tonejito/279f7235d4c1865c23602325063d4f89
[submodule "show_tech-support"]
	path = show_tech-support
	url = https://gist.github.com/e3326973643b0e534445b3930c09cae4.git
